h1 {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

/* Task 1*/
.colorful-borders {
    height: 100px;
    width: 200px;
    border-top: 4px solid red;
    border-right: 4px dotted blue;
    border-bottom: 4px dashed green;
    border-left: 4px double yellow;
    border-radius: 20px;
}

/* Task 2 */
.first-block > p {
    font-family: 'Courier New', Courier, monospace;

}

.task-two div p.text-main {
    font-style: italic;
    font-weight: bold;
}

#text + a {
text-transform: uppercase;
}

.task-two div ~ a {
    font-size: 30px;
    text-decoration: none;
}

.first-block p ~ p {
    text-transform: lowercase;
    font-size: 8px;
}

/* Task 4 */
.task-four div {
    height: 60px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.block1:hover {
    background-color: blueviolet;
    border: 3px solid pink;
}

.block1:active {
    background-color: chartreuse;
    border: 6px double crimson;
    border-radius: 50%;
}

.block2:hover {
    background-color: lightblue;
    border: 3px solid blue;
    border-radius: 1em;
}

.block2:active {
    background-color: crimson;
    border: 6px dashed coral;
    border-radius: 2em;
}

.block3:hover {
    background-color: fuchsia;
    border: 3px solid forestgreen;
    border-radius: 5px;
}

.block3:active {
    background-color: blueviolet;
    border: 6px dotted hotpink;
    border-radius: 30%;
}

.block4:hover {
    background-color: yellow;
    border: 5px double yellowgreen;
}

.block4:active {
    background-color: greenyellow;
    border: 6px solid green;
    border-radius: 30px;
}

/* Task 5 */
.task-five div{
  width: 50px;
  height: 50px;
  border: 2px solid black;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
  transform: rotate(90.0deg);
}

.task-five div:not(:last-child)::after{
    content: ".";
    padding-left: 60px;
  }